@import url(https://fonts.google.com/specimen/Space+Mono);

* {
    max-width: 100vw;
    max-height: 100vh;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", sans-serif, monospace;
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 41%, 84%);
    font-weight: 700;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%) ;
    transform: translate(-50%, -50%);
    
}

.left-cont {
    width: 40%;
    height: 96%;
    padding: 0 3vw 2vh;
}

.input-text {
    width: 100%;
    height: 6vh;
    text-align: right;
    padding-right: 10px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    cursor: pointer;
}

.input-text:hover {
    outline: 2px solid hsl(186, 14%, 43%);
}

.select-tip {
    margin: 7vh 0 5px 0;
    font-size: 0.55rem;
    color: hsl(186, 14%, 43%);
}

.grid-cont {
    display: grid;
    grid-template-columns: 7.9vw 7.9vw 7.9vw;
    grid-template-rows: 5vh 5vh;
    grid-gap: 7px;
}

.right-cont {
    background-color: hsl(183, 100%, 15%);
    width: 50%;
    height: 87%;
    margin: 4vh 4vh 4vh 0;
    padding: 0 2vw;
    border-radius: 10px;
}

.left-button {
    background-color:  hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.55rem;
    font-weight: 700;
    cursor: pointer;
}

.left-button:hover {
    background-color: hsl(185, 41%, 84%);
}

.custom-button {
    background-color:  hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    color: hsl(186, 14%, 43%);
    font-size: 0.55rem;
    font-weight: 700;
    text-align: right;
    padding-right: 0.5rem;
}

.upper-right-cont  {
    margin: 7vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-right-cont {
    margin: 3vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-hand {
    font-size: 0.55rem;
    color: hsl(185, 41%, 84%);
    width: 30%;
    height: 10vh;
}

.right-hand {
    font-size: 1.5rem;
    color: hsl(172, 67%, 45%);
}

.btn {
    margin-top: 8.5vh;
    width: 100%;
    height: 5.5vh;
    background-color: hsl(172, 67%, 45%);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(185, 41%, 84%);
}

.for-white {
    color: #ffffff;
    font-size: 0.55rem;
}


.wrong:hover {
    width: 100%;
    height: 6vh;
    text-align: right;
    padding-right: 10px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    cursor: pointer;
    outline: 2px solid red;
}

.attribution { 
    position: relative;
    top: 35vh;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    font-size: 11px; 
}

@media only screen and (max-width: 1000px) {
    .container {
        position: relative;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 60%;
        border-radius: 20px;
        background-color: hsl(0, 0%, 100%) ;
        transform: translate(-50%, -50%);
        
    }

    .grid-cont {
        display: grid;
        grid-template-columns: 10vw 10vw 10vw;
        grid-template-rows: 5vh 5vh;
        grid-gap: 7px;
    }
}

@media only screen and (max-width: 850px) {
    .container {
        position: relative;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 60%;
        border-radius: 20px;
        background-color: hsl(0, 0%, 100%) ;
        transform: translate(-50%, -50%);
        
    }
        
    .grid-cont {
        display: grid;
        grid-template-columns: 12vw 12vw 12vw;
        grid-template-rows: 5vh 5vh;
        grid-gap: 7px;
    }


}

@media only screen and (max-width: 500px) {
    .body {
        max-width: 100vw;
        max-height: 100vh;
    }
    .container {
        position: relative;
        top: 50%;
        left: 48.5%;
        height: 95vh;
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-top: 3vh;
        transform: translate(-50%, -50%
        );
    }
        
    .left-cont {
        width: 90%;
        height: 50%;
        padding: 0 3vw 0;
    }

        
    .grid-cont {
        display: grid;
        grid-template-columns: 38vw 38vw ;
        grid-template-rows: 6vh 6vh 6vh;
        grid-gap: 10px;
    }

    .select-tip {
        margin-top: 2vh ;
    }

    .right-cont {
        width:85%;
        margin-left: 3vw;
        padding: 0 2vh 0;
    }

    .left-hand {
        margin-top: 0;
    }
    .upper-right-cont{
        margin-top: 3vh;
    }
    .lower-right-cont {
        margin-top: 0;
    }
    .btn {
        margin-top: 6vh;
    }
    .attribution {
        position: relative;
        top: 3vh;
        margin-top: 0;
    }

}